<section class="game">
  <img src="/images/{{game.filename}}" alt="{{game.description}}">
  <div class="game-details">
    <h3>{{game.title}}</h3>
    <p>By: {{game.developer}}</p>
  </div>
</section>