<section class="game">
  <div class="game-item">
    <div class="game-item-thumbnail">
  <img src="{{this.thumbnail}}" alt="{{this.short_description}}">
    </div>
  <div class="game-item-details">
    <h3>{{this.title}}</h3>
    <p>By: {{this.developer}}</p>
  </div>
  </div>
</section>