<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JAMY Games</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">JAMY GAMES</a>
      <ul>
        <li>
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left hide-on-med-and-down"><i class="material-icons">menu</i></a>
        </li>
      </ul>
      <ul class="right hide-med-and-down">
        <li>
          <a href="#"><i class="material-icons">person_outline</i></a>
        </li>
        <li>
          {{#if logged_in}}
          <button>Logout</button>
          {{else}}
          <a href="/login"><button>Log In</button></a>
          {{/if}}
        </li>
        <li><a href=""><button>Sign Up</button></a></li>
      </ul>
    </div>
  </nav>
  
    <!-- Only display the logout button if the user is logged in -->
  </header>
  <section>
  <ul id="slide-out" class="sidenav">
    <li><div class="">
      <div class="background">
      </div>
      <a href="#user"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdoe@example.com</span></a>
    </div></li>
    <li class= "list-item"><a href="/">Home</a></li>
    <li class= "list-item"><a href="/dashboard">User</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Genres</a></li>
    <li class= "list-item"><a class="waves-effect" href="#!">RPG</a></li>
    <li class= "list-item"><a class="waves-effect" href="#!">FPS</a></li>
    <li class= "list-item"><a class="waves-effect" href="#!">Adventure</a></li>
  </ul>
  </section>
    
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    <div class="footer">
      <h2>About Jamy Games...</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore eos autem. Repellat reiciendis, voluptas veritatis iusto placeat unde explicabo quisquam dignissimos ipsam sequi ab perspiciatis impedit praesentium at ducimus molestiae distinctio, doloremque doloribus illo repellendus. Atque vero, labore nisi iure reprehenderit sed voluptates facere quibusdam, nam animi eaque recusandae?</p>
      <div class="footer-container">
        <div class="footer-img-left"></div>
        <div class="footer-img-center"></div>
        <div class="footer-img-right"></div>
      </div>
        <h3>Developed By:</h3>
      <div class="footer-item-wrapper">
    <div class="footer-item">
      <h4>Abdirahman</h4>
      <a href="">Github</a>
      <a href="">LinkedIn</a>
    </div>
    <div class="footer-item">
      <h4>Jacob</h4>
      <a href="">Github</a>
      <a href="">LinkedIn</a>
    </div>
    <div class="footer-item">
      <h4>Mohammed</h4>
      <a href="">Github</a>
      <a href="">LinkedIn</a>
    </div>
    <div class="footer-item">
      <h4>Yazid</h4>
      <a href="">Github</a>
      <a href="">LinkedIn</a>
    </div>
      </div>
    </div>
  </footer>
 

  <!-- Only include the logout script if the user is logged in -->
  <script src="/public/js/index.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
  <script src="/js/sidebar.js"></script>
</body>

</html>
